<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>        
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>
<body>
    <aside id="sidebar">
        <header id="sidebar-header">
            <img src="{{ url_for('static', filename='ollama-icon.png') }}" alt="Ollama Icon" onclick="addNewSession()">
            <h2 onclick="addNewSession()">OllamaGPT</h2>
        </header>
        <ul id="chat-sessions">
            <!-- Chat sessions will be added dynamically here -->
        </ul>
    </aside>
    <section id="main-content">
        <header id="main-header">
            <h1>Ollama Chat</h1>
        </header>
        <div id="chatbox">
            <!-- Chat messages will be dynamically inserted here -->
        </div>
        <footer id="chat-input">
            <textarea id="userInput" placeholder="Type a message..."></textarea>
            <button onclick="sendMessage()">Send</button>
        </footer>
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('.copy-code-button').forEach((button) => {
                button.addEventListener('click', function () {
                    let code = this.parentNode.nextElementSibling.innerText;
                    let textarea = document.createElement('textarea');
                    textarea.value = code;
                    document.body.appendChild(textarea);
                    textarea.select();
                    document.execCommand('copy');
                    document.body.removeChild(textarea);
                    alert('Code copied to clipboard!'); // Optional: Replace with a more subtle notification
                });
            });
        });

    </script>
</body>
</html>
